h1 {
    color: blue;
    font-family: Tahoma;
    font-size: 200%;

}

p {
    color: red;
    font-family: Arial;
    font-size: 120%;
    border: 1px solid grey;
    padding: 100px;
}

#element1 {
    color: blue;
}
.abc{
    color: aqua;
}
